$unit: 4px;
$padding: $unit * 3 $unit * 3;
$shadow-color: #aa0077;
$black-color: #333;
$text-shadow: 1px 1px 3px $black-color;
$media-width: 900px;
$randomNumber: random(2);

* {
  vertical-align: baseline;
  // font-weight: inherit;
  // font-family: inherit;
  // font-style: inherit;
  // font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@mixin fill-100 {
  width: 100%;
  height: 100%;
}

@mixin fill-width-100 {
  width: 100%;
}

@mixin style-shadow {
  filter: drop-shadow(2px 1px 0px $shadow-color);
}
@mixin style-outline {
  outline: 2px solid #111;
}
@mixin style-border {
  border: 2px solid $black-color;
}

@mixin style-all {
  @include style-outline();
  @include style-shadow();
}
@mixin style-all-border {
  @include style-border();
  @include style-shadow();
}

html {
  @include fill-100();
}
body {
  background-color: #eee;
  @include fill-100();
}

.page {
  padding: 10vw;
  padding-top: $unit * 16;
  padding-bottom: $unit * 12;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid $shadow-color;

  .page-content {
    h1 {
      padding-bottom: $unit * 2;
    }

    display: flex;
    flex-direction: column;
    gap: $unit * 12;

    .page-item {
      animation: slide-in 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      h1 {
        border-left: $unit solid $shadow-color;
        padding: $unit * 2;
        padding-left: $unit * 4;
        margin-bottom: $unit * 4;
        line-height: $unit * 10;
      }
      p {
        padding-bottom: $unit * 2;
      }
      .page-item-column {
        display: flex;
        gap: $unit * 4;
        flex-wrap: wrap;

        &.no-hover {
          .product-item {
            &:hover {
              cursor: default;
              // transform: translate3d(0, 0, 0);
            }

            // &::after {
            //   display: none;
            // }
          }
        }

        &.center {
          justify-content: center;
          .product-item {
            height: $unit * 70;
            width: $unit * 100;
            flex: 0 0 auto;
            // box-shadow: none;

            div {
              background: none;
              justify-content: space-around;
              // align-items: center;
              padding: $unit * 12;
              p {
                // color: $black-color;
                text-shadow: $text-shadow;
              }
            }

            img {
              filter: unset;
              object-fit: cover;
            }
          }
        }

        .product-item {
          max-width: 100%;
          position: relative;
          flex: 0 0 auto;
          width: 100%;

          @media screen and (min-width: $media-width) {
            flex: 1 0 24%;
            width: unset;
          }
          height: $unit * 120;
          // @include style-all-border();
          box-shadow: 2px 1px 0px $shadow-color;
          transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            cursor: pointer;
            transform: translate3d(-6px, -6px, 0px);

            &::after {
              transform: translate3d(6px, 6px, 0px);
            }
          }

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            @include fill-100();
            background-color: $shadow-color;
            z-index: -1;
            transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
          }

          div {
            z-index: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-end;
            gap: $unit;
            padding: $unit * 4;
            // font-size: xx-large;
            color: #eee;
            position: absolute;
            background: rgb(255, 255, 255);
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 1) 0%,
              rgba(0, 0, 0, 0) 50%
            );
            @include fill-100();

            p {
              color: #eee;
              overflow-wrap: anywhere;
              &:first-of-type {
                font-size: xx-large;
              }
            }
          }
          img {
            @include fill-100();
            object-fit: cover;
            // filter: saturate(0.5);
          }
        }

        .page-item-media {
          @include style-all-border();
          min-width: $unit * 50;
          height: $unit * 50;

          img {
            @include fill-100();
            object-fit: cover;
          }
        }
      }
    }
  }
}

hr {
  height: 1px;
  width: 100%;
  background-color: #00000022;
  margin: $unit * 4;
  margin-left: 0;
  margin-right: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: $unit * 2;
  color: #eee;
}

.footer {
  height: $unit * 45;
  background-color: $shadow-color;
  display: flex;
  flex-direction: row;
  padding: $unit * 12;
  justify-content: space-between;

  p,
  h4,
  a {
    padding: $unit;
    color: #eee;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
  }
}

.hero {
  position: relative;
  height: $unit * 75;
  // @include fill-width-100();
  // @include style-outline();

  .hero-content {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    @include fill-100();
    align-items: center;
    justify-content: center;
    z-index: 1;

    transition: opacity 0.375s ease,
      transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    .hero-header {
      padding: $unit * 2;
      padding-top: $unit * 0.5;
      padding-bottom: $unit * 0.5;
      background-color: #fafafa;
      // color: #eee;

      // outline: 2px solid black;
      @include style-shadow();
      @include style-outline();
    }

    .hero-body {
      padding-top: $unit * 10;
      p {
        color: #fff;
        font-size: large;
      }
    }
  }
  .hero-image {
    @include fill-100();
    background-color: #666;

    img {
      @include fill-100();
      object-fit: cover;
      // filter: contrast(0.75);
      animation-name: rainbow;
      animation-duration: 120s;
      animation-iteration-count: infinite;

      transition: filter 0.375s ease;
    }
  }

  // &:hover {
  //   .hero-content {
  //     transform: translate3d(-45%, 0, 0);
  //     // left: -45%;
  //   }
  //   .hero-body {
  //     opacity: 0;
  //   }
  //   .hero-image {
  //     img {
  //       filter: none;
  //     }
  //   }
  // }
}

.lightbox {
  @include fill-100();
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: $unit * 2;

  backdrop-filter: blur(4px);
  background-color: rgba($black-color, 0.95);
  padding: $unit * 2;
  // padding-top: $unit * 30;

  @media screen and (min-width: $media-width) {
    padding: $unit * 20;
  }

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &.active {
    opacity: 1;
    pointer-events: auto;

    a {
      &.active {
        pointer-events: auto;
      }
    }
  }

  .lightbox-close {
    @media screen and (min-width: $media-width) {
      display: none;
    }
    display: flex;
    height: $unit * 40;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
  }

  .lightbox-content {
    position: relative;
    background-color: #eee;
    @include fill-100();
    border-radius: $unit;
    overflow: hidden;

    .lightbox-content-container {
      position: absolute;
      @include fill-100();
      display: flex;
      align-items: flex-end;
      pointer-events: none;

      div {
        @include fill-width-100();
        @media screen and (min-width: $media-width) {
          width: $unit * 100;
          margin: $unit * 10;
          padding: $unit * 10;
        }
        margin: $unit;
        padding: $unit;
        backdrop-filter: blur(4px);
        background-color: rgba($black-color, 0.5);
        h1,
        p,
        a {
          padding: $unit;
          color: #eee;
          text-shadow: $text-shadow;
        }
        a {
          font-size: x-large;
          font-weight: bold;
        }
      }
    }
    .lightbox-image-container {
      @include fill-100();
      overflow: auto;

      .lightbox-image-content {
        display: flex;
        flex-wrap: wrap;

        img,
        video {
          height: $unit * 80;
          @include style-outline();
        }

        img {
          flex: 1 0 21%;
          width: 100%;
          @media screen and (min-width: $media-width) {
            width: 50%;
          }
          height: 100%;
          object-fit: contain;
        }

        video {
          @include fill-100();
          z-index: 2;
          background-color: $black-color;
        }
      }
    }
  }
}

.logo {
  bottom: 0;
  padding: $unit * 2;
  // height: $unit * 40;
  // position: absolute;
  display: flex;
  justify-content: center;

  img {
    @include style-shadow();

    width: $unit * 20;
  }
}

@keyframes slide-in {
  0% {
    transform: translate3d(0, 150%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  10% {
    filter: hue-rotate(36deg);
  }
  20% {
    filter: hue-rotate(72deg);
  }
  30% {
    filter: hue-rotate(180deg);
  }
  40% {
    filter: hue-rotate(144deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  60% {
    filter: hue-rotate(216deg);
  }
  70% {
    filter: hue-rotate(252deg);
  }
  80% {
    filter: hue-rotate(288deg);
  }
  90% {
    filter: hue-rotate(384deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
