* {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eee;
  width: 100%;
  height: 100%;
}

.page {
  padding: 5vw;
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid #aa0077;
}
@media screen and (min-width: 900px) {
  .page {
    padding: 10vw;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.page .page-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.page .page-content h1 {
  padding-bottom: 8px;
}
.page .page-content .page-item {
  animation: slide-in 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page .page-content .page-item h1 {
  border-left: 4px solid #aa0077;
  padding: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  line-height: 40px;
}
.page .page-content .page-item p {
  padding-bottom: 8px;
}
.page .page-content .page-item .page-item-column {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.page .page-content .page-item .page-item-column.no-hover .product-item:hover {
  cursor: default;
}
.page .page-content .page-item .page-item-column.center {
  justify-content: center;
}
.page .page-content .page-item .page-item-column.center .product-item {
  height: 280px;
  width: 400px;
  flex: 0 0 auto;
}
.page .page-content .page-item .page-item-column.center .product-item .product-item-content {
  background: none;
  justify-content: space-around;
  padding: 48px;
}
.page .page-content .page-item .page-item-column.center .product-item .product-item-content p {
  color: #fff;
  text-shadow: 1px 1px 3px #333;
}
.page .page-content .page-item .page-item-column.center .product-item img {
  filter: unset;
  object-fit: cover;
}
.page .page-content .page-item .page-item-column .product-item {
  max-width: 100%;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 480px;
  box-shadow: 2px 1px 0px #aa0077;
  transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 900px) {
  .page .page-content .page-item .page-item-column .product-item {
    flex: 1 0 24%;
    width: unset;
  }
}
.page .page-content .page-item .page-item-column .product-item:hover {
  cursor: pointer;
  transform: translate3d(-6px, -6px, 0px);
}
.page .page-content .page-item .page-item-column .product-item:hover::before {
  transform: translate3d(6px, 6px, 0px);
}
.page .page-content .page-item .page-item-column .product-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #aa0077;
  z-index: -1;
  transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.page .page-content .page-item .page-item-column .product-item.active .product-item-revealed {
  opacity: 1;
}
.page .page-content .page-item .page-item-column .product-item.active .product-item-content {
  opacity: 0;
}
.page .page-content .page-item .page-item-column .product-item.active > img,
.page .page-content .page-item .page-item-column .product-item.active > video {
  opacity: 0.05;
}
.page .page-content .page-item .page-item-column .product-item .product-item-revealed {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aa0077;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  transition: opacity 0.375s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}
.page .page-content .page-item .page-item-column .product-item .product-item-revealed p {
  color: #eee;
  overflow-wrap: anywhere;
  font-size: large;
}
.page .page-content .page-item .page-item-column .product-item .product-item-revealed .product-item-revealed-mediacontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}
.page .page-content .page-item .page-item-column .product-item .product-item-revealed .product-item-revealed-mediacontainer img {
  flex: 1 0 21%;
  max-width: 80px;
  padding: 16px;
  object-fit: contain;
}
.page .page-content .page-item .page-item-column .product-item .product-item-content {
  opacity: 1;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  padding: 16px;
  color: #eee;
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.375s cubic-bezier(0.075, 0.82, 0.165, 1) 0.05s, transform 0.375s cubic-bezier(0.8, 0.84, 0.44, 1);
}
.page .page-content .page-item .page-item-column .product-item .product-item-content p {
  color: #eee;
  overflow-wrap: anywhere;
}
.page .page-content .page-item .page-item-column .product-item .product-item-content p:first-of-type {
  font-size: xx-large;
}
.page .page-content .page-item .page-item-column .product-item > img,
.page .page-content .page-item .page-item-column .product-item > video {
  transition: opacity 0.375s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page .page-content .page-item .page-item-column .page-item-media {
  border: 2px solid #333;
  filter: drop-shadow(2px 1px 0px #aa0077);
  min-width: 200px;
  height: 200px;
}
.page .page-content .page-item .page-item-column .page-item-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page .canvasContainer {
  overflow: hidden;
  position: relative;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.page .canvasContainer .canvas-ui {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.page .canvasContainer .canvas-ui .canvas-ui-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px;
}
.page .canvasContainer .canvas-ui .canvas-ui-navigation .navigation {
  pointer-events: auto;
  font-size: xx-large;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .page .canvasContainer {
    height: unset;
  }
}
.page .canvasContainer:hover {
  cursor: pointer;
}
.page .canvasContainer.active:hover {
  cursor: default;
}
.page .canvasContainer.active .canvas-interactive,
.page .canvasContainer.active img {
  opacity: 0;
  pointer-events: none;
}
.page .canvasContainer .canvas-interactive,
.page .canvasContainer img {
  transition: opacity 0.375s ease-in-out;
  transition-delay: 2s;
}
.page .canvasContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  opacity: 1;
  z-index: 1;
}
.page .canvasContainer .canvas-interactive {
  opacity: 1;
  max-width: 75%;
  font-size: x-large;
  position: absolute;
  color: #eee;
  background-color: #333;
  padding: 16px;
  outline: 2px solid #aa0077;
  filter: drop-shadow(2px 1px 0px #aa0077);
  z-index: 2;
}
.page .canvasContainer canvas {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  filter: drop-shadow(2px 1px 0px #aa0077);
}

hr {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1333333333);
  margin: 16px;
  margin-left: 0;
  margin-right: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px;
  color: #eee;
}

.footer {
  height: 180px;
  background-color: #aa0077;
  display: flex;
  flex-direction: row;
  padding: 48px;
  justify-content: space-between;
}
.footer p,
.footer h4,
.footer a {
  padding: 4px;
  color: #eee;
}
.footer .footer-contact {
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  height: 300px;
}
.hero .hero-content {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: opacity 0.375s ease, transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero .hero-content .hero-header {
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fafafa;
  filter: drop-shadow(2px 1px 0px #aa0077);
  outline: 2px solid #111;
}
.hero .hero-content .hero-body {
  padding-top: 40px;
}
.hero .hero-content .hero-body p {
  color: #fff;
  font-size: large;
}
.hero .hero-image {
  width: 100%;
  height: 100%;
  background-color: #666;
}
.hero .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-name: rainbow;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  transition: filter 0.375s ease;
}

.lightbox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  backdrop-filter: blur(4px);
  background-color: rgba(51, 51, 51, 0.95);
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (min-width: 900px) {
  .lightbox {
    padding: 80px;
    padding-left: 24vw;
    padding-right: 24vw;
  }
}
.lightbox.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 5;
}
.lightbox.active a.active {
  pointer-events: auto;
}
.lightbox .lightbox-close {
  display: flex;
  height: 160px;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
@media screen and (min-width: 900px) {
  .lightbox .lightbox-close {
    display: none;
  }
}
.lightbox .lightbox-content {
  position: relative;
  background-color: #eee;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.lightbox .lightbox-content .lightbox-content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
}
.lightbox .lightbox-content .lightbox-content-container div {
  width: 100%;
  margin: 4px;
  padding: 4px;
  backdrop-filter: blur(4px);
  background-color: rgba(51, 51, 51, 0.5);
}
@media screen and (min-width: 900px) {
  .lightbox .lightbox-content .lightbox-content-container div {
    width: 400px;
    margin: 40px;
    padding: 40px;
  }
}
.lightbox .lightbox-content .lightbox-content-container div h1,
.lightbox .lightbox-content .lightbox-content-container div p,
.lightbox .lightbox-content .lightbox-content-container div a {
  padding: 4px;
  color: #eee;
  text-shadow: 1px 1px 3px #333;
}
.lightbox .lightbox-content .lightbox-content-container div a {
  font-size: x-large;
  font-weight: bold;
}
.lightbox .lightbox-content .lightbox-image-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #333;
}
.lightbox .lightbox-content .lightbox-image-container .lightbox-image-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
}
.lightbox .lightbox-content .lightbox-image-container .lightbox-image-content img,
.lightbox .lightbox-content .lightbox-image-container .lightbox-image-content video {
  height: 320px;
  outline: 2px solid #111;
}
.lightbox .lightbox-content .lightbox-image-container .lightbox-image-content img {
  flex: 1 0 21%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 900px) {
  .lightbox .lightbox-content .lightbox-image-container .lightbox-image-content img {
    width: 50%;
  }
}
.lightbox .lightbox-content .lightbox-image-container .lightbox-image-content video {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #333;
}

.logo {
  bottom: 0;
  padding: 8px;
  display: flex;
  justify-content: center;
}
.logo img {
  filter: drop-shadow(2px 1px 0px #aa0077);
  width: 80px;
}

@keyframes slide-in {
  0% {
    transform: translate3d(0, 150%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  10% {
    filter: hue-rotate(36deg);
  }
  20% {
    filter: hue-rotate(72deg);
  }
  30% {
    filter: hue-rotate(180deg);
  }
  40% {
    filter: hue-rotate(144deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  60% {
    filter: hue-rotate(216deg);
  }
  70% {
    filter: hue-rotate(252deg);
  }
  80% {
    filter: hue-rotate(288deg);
  }
  90% {
    filter: hue-rotate(384deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
